*{
    color: white;
  }

  
  
  .navbar--items{
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      align-items: center;
      margin-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 5px;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
      height: 75px;
      border-radius: 13px;
      position: absolute;
      width: 100%;
      position: fixed;
      z-index: 2;
  }
  h1{
      cursor: pointer;
      font-family: myHeadingFont;
      font-size: 30px;
  }
  
  
  nav .menu{
      display: none;
      position:absolute;
      top:0.75rem;
      right:0.5rem;
      flex-direction: column;
      justify-content: space-between;
      width: 2.25rem;
      height: 2rem;
  }
  
  
  
  
  a{
      margin-left: 7px;
      text-decoration: none;
  }
  
  .items {
      background-image: linear-gradient(
        to right,
        var(--yellow-colour),
        var(--yellow-colour) 50%,
        white 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px 15px;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
    }
    #navbar{
      display: flex;
      gap: 2rem;
    }
    .items:before{
      content: '';
      background: var(--yellow-colour);
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }
    
    .items:hover {
     background-position: 0;
    }
    .items:hover::before{
      width: 100%;
    }
    #mobile{
      display: none;
    }
    #mobile i{
      color: #fff;
    }
  
    @media (max-width:850px){
      nav .menu{
          display: flex;    
  
      }
      nav{
          flex-direction: column;
          align-items: start;
      }
      nav ul{
          display:flex;
          margin-bottom: .25rem;
          flex-direction: column;
          align-items:center;
          justify-content: start;
          position: fixed;
          top: 75px;
          right: -100%;
          opacity: 0;
          width: 100%;
          height: 100vh;
          background-color: var(--text-colour);
          padding: 40px 10px;
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
          transition:0.3s ease-in-out;
      }
      
      #navbar.active{
          right: 0px;
          opacity: 1;
      }
      nav ul li{
          width: 20%;
          text-align: center;
          margin-top: 10%;
      }
      
      #mobile{
          cursor: pointer;
          display: block;
          font-size: 1.2rem;
      }
      
  
    }
    
    .navbar--items.scrolled {
      border-radius: 0px;
      margin: 0;
      width: 100%;
      background-color: black;
  }