@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@font-face {
  font-family: homeHeading;
  src: url(../src/Icons/cinzel.bold.ttf);
}

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  --primary-colour:#00A8E8;
  --white-colour:#e5e8e9;
  --yellow-colour:#fbe8a6;
  --cream-colour:#f2f1e5;
  --brown-colour:#534a45;
  --text-colour:#031927;
  --red-colour:#CA2E55;
  padding: 0;
  margin: 0;
}
body{
  background-color: var(--cream-colour);
}